@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root {
  --blue-color: #157698;
  --dark-gray-color: #333333;
  --light-gray-color: #666666;
  --lighter-gray-color: #a9a9a9;
  --white-color: #ffffff;
  --black-color: #000000;
  font-size: 18px;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--white-color);
  font-weight: 200;
  color: var(--light-gray-color);
  transition: all 0.2s;
}

p {
  margin-bottom: 2rem;
}

a {
  color: var(--light-gray-color);
}

a:hover {
  color: var(--blue-color);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 3rem;
}

@media (min-width: 1080px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--blue-color);
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0;
}

hr {
  border-top: 1px solid var(--lighter-gray-color);
  border-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.color-blue {
  color: var(--blue-color);
}

.color-light-gray {
  color: var(--light-gray-color);
}

.color-lighter-gray {
  color: var(--lighter-gray-color);
}

.color-dark-gray {
  color: var(--dark-gray-color);
}

.font-200 {
  font-weight: 200;
}
